version: '1.0'
environment: sss-lab
regions:
  - ap-southeast-1
  - ap-northeast-1
discovery:
  method: tags
  tags:
    lights-out:managed: 'true'
    lights-out:env: sss-lab
  resource_types:
    - ecs:service
    - rds:db
resource_defaults:
  ecs-service:
    waitForStable: true
    stableTimeoutSeconds: 300
    start:
      desiredCount: 1
    stop:
      desiredCount: 0
  rds-db:
    skipFinalSnapshot: true
    waitTimeout: 600
schedules:
  default:
    timezone: Asia/Taipei
    startTime: '09:00'
    stopTime: '19:00'
    activeDays:
      - MON
      - TUE
      - WED
      - THU
      - FRI
    holidays: []
    enabled: false
schedules_cron:
  start:
    expression: 0 1 ? * MON-FRI *
    description: Start resources at 09:00 Asia/Taipei (01:00 UTC)
    enabled: false
  stop:
    expression: 0 11 ? * MON-FRI *
    description: Stop resources at 19:00 Asia/Taipei (11:00 UTC)
    enabled: false
