version: '1.0'
environment: pg-development-airsync-dev
regions:
  - us-east-1
  - ap-northeast-1
notifications:
  teams:
    enabled: true
    webhook_url: >-
      https://defaultf7a082108cd2459f9459ddb19785f3.76.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/11f75ec7467946f7bcfb9026ab827105/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Yw8kWNrx1C6uJ2ItXBPTUrqPX_-1ZneuQX79NAaA9nk
    description: Power Automate Workflow for Notifications to AirSync App Development.
discovery:
  method: tags
  tags:
    lights-out:managed: 'true'
    lights-out:project: airsync-dev
  resource_types:
    - ecs:service
resource_defaults:
  ecs-service:
    waitForStable: true
    stableTimeoutSeconds: 300
    start:
      minCapacity: 2
      maxCapacity: 6
      desiredCount: 2
    stop:
      minCapacity: 0
      maxCapacity: 0
      desiredCount: 0
schedules:
  default:
    timezone: Asia/Taipei
    startTime: '08:00'
    stopTime: '22:00'
    enabled: true
    activeDays:
      - MON
      - TUE
      - WED
      - THU
      - FRI
    holidays: []
schedules_cron:
  start:
    expression: 0 0 ? * MON-FRI *
    description: Start resources at 08:00 Asia/Taipei (00:00 UTC)
    enabled: true
  stop:
    expression: 0 14 ? * MON-FRI *
    description: Stop resources at 22:00 Asia/Taipei (14:00 UTC)
    enabled: true
